name: Integration Test

on: 
  push:
    branches: 
      - test 

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Self test
        id: selftest

        # Put your action repo here
        uses: ayalaluquez/python-container-action@test
        with:
          myInput: world
            
      - name: Check outputs
        run: |
          test "${{ steps.selftest.outputs.myOutput }}"
